doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    title Document
    style.
      .tag{
        color: #fff;
        font-size: 30px;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        width: 500px;
      }
      .tag-first{
        background: lightcoral;
      }
      .tag-second{
        background: lightskyblue;
      }
  body
    div.tag.tag-first The moving finger writes, and having written moves on.
    div.tag.tag-second Nor all thy piety nor all thy wit, can cancel half a line of it.
    script(src="/assets/js/app.js")
